{% extends "base.html" %}

{% block title %}重置密码{% endblock %}

{% block main %}
<div class="box register-form">
	{% if validlink %}
		<h1 class="form_title">输入新密码</h1><br/>
		<p class="muted">请输入新密码两次，这样我们可以检测您输入的密码是否正确。</p><br/>
		<form action="" method="post" form="form-horizontal">{% csrf_token %}
			{{ form.new_password1.errors }}
			<p class="aligned wide"><label for="id_new_password1">新密码</label>{{ form.new_password1 }}</p>
			{{ form.new_password2.errors }}
			<p class="aligned wide"><label for="id_new_password2">重复密码</label>{{ form.new_password2 }}</p><br/>
			<p><input type="submit" class="btn btn-success pull-left" value="确认修改" /></p>
		</form>
	{% else %}
		<h1 class="form_title">密码重置未成功</h1><br/>
		<p style="font-size:14px;">密码重置链接已失效，可能的原因是已经被使用过。请重新请求密码重置。</p>
	{% endif %}
</div>
{% endblock %}
