{% extends 'base.html' %}

{% block title %}
关于Pythonic社区
{% endblock %}
{% block main %}
<h1>关于</h1>
<h2>Pythonic的原义</h2>
<p style="font-size: 14px;line-height:25px;">
Pythonic是一个Python界广为人知却不知甚解的词汇。<br/>
less is more / simple is better / 大道至简。<br/>
这是一套实践原则，也是一种生活方式。<br/><br/>
</p>
<h2>社区为谁而建？</h2>
<p style="font-size: 14px;line-height:25px;">
Pythonic社区致力于汇聚这样一个群体：<br/>
他们喜欢简约的事物，视Python为充满力量和魔法的工具。<br/>
他们热爱自由，追随自己的心性，喜欢捣鼓一些新想法并尝试去实现它。<br/>
他们对信噪比敏感，使用知乎/Quora/豆瓣/StackExchange等高质量UGC网站获取信息。<br/>
他们为兴趣而不是绩点/绩效学习，广泛阅读，寻求对世界的真实认知。<br/><br/>
</p>
<h2>加入Pythonic</h2>
<p style="font-size: 14px;line-height:25px;">
如果你强烈地感觉到了一种归属感，欢迎加入。<br/>
分享有趣，交流想法，获取新知，发布作品，结识同好。<br/>
共建我们的精神家园。
</p><br/><br/><br/>
{% endblock %}