{% extends 'base.html' %}

{% block title %}
	{{user.get_profile.name}}的账号
{% endblock %}

{% block main %}
<h2>{{user.get_profile.name}}的账号</h2>
<hr class="dash">
<h4>设置我的账号信息<span class="pull-right"><i class="icon-home"></i> <a href="/people/{{user.get_profile.slug}}" style="color:#aaa;">查看主页</a></span></h4>
<div class="sep10"></div>
<div class="box">
	<form id="your-profile" action="/accounts/settings" method="POST" class="form-horizontal"> {% csrf_token %}
		{% for field in form %}
			{% if field.name != 'province' %}
				{% if field.name != 'city' %}
					{% if field.name == 'name' %}
						<div class="control-group">
					    	<label class="control-label">{{ field.label_tag }}</label>
					    	<div class="controls">
				    			{% if update %}{{ field }}{% else %}<font style="height:28px;line-height:28px;font-size:15px;color: #777;vertical-align:center;">{{ field.value }}</font>{% endif %}<span class="error">{% for error in field.errors %}{{ error|escape }}{% endfor %}</span>
					    	</div>
			    			<div class="controls">
					    		{{field.help_text|safe}}
					    	</div>
				    	</div>
	    			{% else %}
		    			<div class="control-group">
				    		<label class="control-label">{{ field.label_tag }}</label>
				    		<div class="controls">
						    	{% if field.name == 'slug' %}
						    		<font style="height:28px;line-height:28px;font-size:15px;color: #777;vertical-align:center;">pythonic.org/people/{{ field.value }}</font>
						    		<input type="hidden" id="id_slug" name="slug" value="{{field.value}}"/>
						    	{% else %}
						    		{% if field.name != "avatar" %}
						    			{% if field.name == "weibo" %}
						    				<font style="height:28px;line-height:28px;font-size:15px;color: #777;vertical-align:center;">weibo.com / {{ field }}</font><span class="error">{% for error in field.errors %}{{ error|escape }}{% endfor %}</span>
						    			{% else %}
						    				{% if field.name == "github" %}
						    					<font style="height:28px;line-height:28px;font-size:15px;color: #777;vertical-align:center;">github.com / {{ field }}</font><span class="error">{% for error in field.errors %}{{ error|escape }}{% endfor %}</span>
						    				{% else %}
						      					{{ field }}<span class="error">{% for error in field.errors %}{{ error|escape }}{% endfor %}</span>
						      				{% endif %}
						      			{% endif %}
						      		{% else %}
						      			<img src="/media/avatar/{{ user.get_profile.avatar }}" />
						      			{% if messages %}
					   						{% for message in messages %}
					   							{% if message.tags == 'info' %}<span class="{{ message.tags }}">{{ message }}</span>{% endif %} <a href="/accounts/change_avatar" style="font-size:13px;">更改头像</a>
					   						{% endfor %}
					   					{% else %}
					   						<a href="/accounts/change_avatar" style="font-size:13px;">更改头像</a>
										{% endif %}
						      		{% endif %}
						    	{% endif %}
						    </div>
			   			</div>
			   		{% endif %}
				{% else %}
					<div class="control-group">
				    	<label class="control-label">常居地</label>
				    	<div class="controls">
				    		{{ form.province }} &nbsp;{{ form.city }}<span class="error">{% for error in field.errors %}{{ error|escape }}{% endfor %}</span>
				    		<input id="province" type="hidden" value="{{form.province.value}}"/>
				    		<input id="city" type="hidden" value="{{form.city.value}}"/>
				    	</div>
					</div>
											<div class="control-group">
					    	<label class="control-label">登录邮箱</label>
					    	<div class="controls">
					    		<font style="height:28px;line-height:28px;font-size:15px;color: #777;vertical-align:center;">{{ user.username }} <a href="/accounts/change_password" style="font-size:13px;">修改密码</a></font> 
					    	</div>
					  	</div>					      	
				{% endif %}
			{% endif %}
     	{% endfor %}
		<div class="control-group">
	    	<label class="control-label"></label>
	    	<div class="controls">
			{% if messages %}
   				{% for message in messages %}
   					{% if message.tags == 'success' %}<span class="{{ message.tags }}">{{ message }}</span>{% endif %}
   				{% endfor %}
			{% endif %}
	    	</div>
	  	</div> 	
	    <div class="control-group">
	    	<div class="controls">
	      		<input type="submit" value="更新" class="btn btn-success">
	    	</div>
	  	</div>
	</form>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/city_selector.js"></script>
<script type="text/javascript">
	window.onload = function(){
	    init();
	}
</script>
{% endblock %}