{% extends 'base.html' %}

{% block title %}
申请新节点
{% endblock %}
{% block main %}<br/>
<h1>申请新节点</h1><br/>
<form action="/apply/new" method="post" class="form-horizontal">{% csrf_token %}
	{% for field in form %}
	<div class="control-group">
    	<label class="control-label">{{ field.label_tag }}</label>
    	<div class="controls">
   			{{ field }}
      		<span class="error">{% for error in field.errors %}{{ error|escape }}{% endfor %}</span>
    	</div>
  	</div>
  	{% endfor %}
    <div class="control-group">
    	<div class="controls">
      		<input type="submit" value="申请新节点" class="btn btn-success">
    	</div>
  	</div>
</form>
{% endblock %}