{% extends 'base.html' %}

{% block title %}
反馈 - Pythonic
{% endblock %}

{% block main %}
<h1>反馈</h1>
<p class="muted">欢迎任何意见或建议</p>
<form action="/feedback" method="post" class="form-vertical" onSubmit="return beforeSubmit(this);">{% csrf_token %}
	{% for field in form %}
	<div class="control-group">
		<label class="control-label">{{ field.label_tag }}</label>
    	<div class="controls">
      		{{ field }}<span class="error">{% for error in field.errors %}{{ error|escape }}{% endfor %}</span>
    	</div>
  	</div>
	{% endfor %}	
    <div class="control-group">
    	<div class="controls">
      		<input type="submit" value="提交反馈" class="btn btn-success pull-right">
    	</div>
  	</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
function beforeSubmit(form){
	if(form.content.value==''){
		form.content.focus();
		return false;		
	}
	else{
		return true;
	}
}
</script>
{% endblock %}