{% extends 'base.html' %}
	
{% block main %}
<div class="index-nav">
	<a href="/" class="selected">最新话题</a>
	<a href="/star">最受喜爱</a>
</div>
<!-- <span class="pull-right"><a href="/topic/new" class="btn btn-success btn-xs btn-green" style="height: 20px;line-height:20px;"><i class="icon-plus icon-white"></i> 新话题</a></span> -->
<hr class="line"/>
{% if topics %}
<div id="topic-wrap" class="box">
	{% for item in topics %}
	<div class="topic-item">
	    <table cellpadding="0" cellspacing="0" border="0" width="100%">
	        <tbody>
	       	<tr>
	            <td width="40" valign="top" align="center"><a href="/people/{{item.author.get_profile.slug}}"><img src="/media/avatar/{{ item.author.get_profile.avatar }}" class="avatar" border="0" alt="{{ item.author.get_profile.name}}"></a></td>
	            <td width="12"></td>
	            
	            <td width="auto" valign="middle"><span class="item_title"><a href="/topic/{{item.id}}">{{ item.title }}</a></span>
	            <div class="sep3"></div>
	            <span class="small muted"><a class="node" href="/node/{{ item.node.slug }}">{{ item.node }}</a> &nbsp;•&nbsp; <a href="/people/{{item.author.get_profile.slug}}" class="people">{{ item.author.get_profile.name}}</a> &nbsp;•&nbsp; {{item.updated_on|timesince_human}} &nbsp;•&nbsp; 最后回复来自 <a href="/people/{{ item.last_reply.get_profile.slug }}" class="people">{{ item.last_reply.get_profile.name }}</a></span>
	            </td>
	            <td width="50" align="right" valign="middle">
	                <a href="/topic/{{item.id}}" class="count">{{ item.num_replies }}</a>
	            </td>
	        </tr>
	    	</tbody>
	    </table>
	</div>
	{% endfor %}
	<table width="100%" class="pager">
		<tr>
			<td width="20%" align="right">{% if more %}<li class="next"><a href="/recent">更多话题</a></li>{% endif %}</td>
		</tr>
	</table>
</div>
{% else %}
<div class="well text-center border-dash">还没有话题。</div>
{% endif %}
<div id="node-wrap" class="box">
    <h4>节点导航</h4>
    <ul>
    	{% for item in all_nodes %}
        <li>
            <label class="bold">{{item.parent}}</label>
            <span class="nodes">
            	{% for node in item.nodes %}
                    <a href="/node/{{node.slug}}" title="{{ node.name}}">{{ node.name}}</a>
                {% endfor %}
            </span>
        
        </li>
       	{% endfor %}
    </ul>
</div>
{% endblock %}	

{% block side %}
{% if hot_topics %}
<div class="box">
	<h4>热门话题</h4><hr class="line thin"/>
	{% for item in hot_topics %}
	<div class="cell">
   		<table cellpadding="0" cellspacing="0" border="0" width="100%">
       		<tbody><tr>
            <td width="24" valign="middle" align="center">
                <a href="/people/{{item.author.get_profile.slug}}" title="{{ item.author.get_profile.name}}"><img src="/media/avatar/{{ item.author.get_profile.avatar }}" class="avatar" border="0" style="max-width: 24px; max-height: 24px;" alt="{{ item.author.get_profile.name}}"></a>
            </td>
            <td width="10"></td>
            <td width="auto" valign="middle">
                <span class="hot_topic_title">
                	<a href="/topic/{{item.id}}" title="{{item.title}}">{{item.title}}</a>
                </span>
            </td>
        </tr>
    	</tbody></table>
    </div>
	{% endfor %}
	<div class="clearfix"></div>
</div>
{% endif %}
{% if hot_nodes %}
<div class="box">
	<h4>热门节点</h4><hr class="line thin"/>
	<div class="inner">
	{% for item in hot_nodes %}
        <a href="/node/{{item.slug}}" title="{{item.name}}"><span class="label">{{item.name}}</span></a>
    {% endfor %}
    </div>
	<div class="clearfix"></div>
</div>
{% endif %}
<div class="box">
	<h4>友情链接</h4><hr class="line thin"/>
	<ul style="list-style:none;">
		<li><img src="/static/img/pml.png" width="30" height="30"/> <font class="light"> &nbsp;Python机器学习 QQ群</font>&nbsp;:&nbsp;<i>156770904</i></li>
	</ul>
    <a href="#" title="{{item.name}}" target="_blank"></a>
	<div class="clearfix"></div>
</div>
{% endblock %}