{% extends 'base.html' %}

{% block title %}
登录 - Snowflake
{% endblock %}

{% block main %}
<h3>登录</h3><br/>
<p>使用本站帐号登录 ( <a href="/accounts/register">注册</a> 或 <a href="/accounts/password_reset">找回密码</a> )</p>
<form action="/accounts/login" method="post" class="form-horizontal" role="form">{% csrf_token %}
	<div class="form-group">
		<label class="col-sm-2 control-label"></label>
		<div class="col-sm-5">
			{% if messages %}
			<div class="alert alert-danger" style="margin-bottom: 0px;">
				{% for message in messages %}{{ message }}{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
	{% for field in form %}
	<div class="form-group">
		<label for="{{field.id}}" class="col-sm-2 control-label">{{ field.label_tag }}</label>
		<div class="col-sm-5">
			{{ field }}
		</div>
		{% if field.errors %}
		<label>
			<ul class="list-inline">
				{% for item in field.errors %}	
						<li><p class="form-control-static text-danger">{{item}}</p></li>
						{% endfor %}
			</ul>
		</label>
		{% endif %}
  	</div>
  	{% endfor %}
	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
	      	<div class="checkbox">
	        	<label>
	          		<input type="checkbox" name="auto"> 下次自动登录
	        	</label>
	      	</div>
    	</div>
  	</div>
  	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
      		<button type="submit" class="btn btn-success">登录</button>
    	</div>
  	</div>
</form>
{% endblock %}