{% extends 'base.html' %}
{% load template_tags %}

{% block title %}
我的消息
{% endblock %}

{% block main %}
<ul class="nav nav-tabs nav-tabs-google">
	<li><a href="/notice">提醒 <span class="badge badge-info">{% if num_notice %}{{ num_notice }}{% endif %}</span></a></li>
	<li class="active"><a href="/message">我的私信 <span class="badge badge-info">{% if num_message != 0 %}{{ num_message }}{% endif %}</span></a></li>
</ul>
<hr class="dash"/>
<h2>发送私信</h2>
<div class="box">
	<form action="/message_create" method="post" class="form-horizontal">{% csrf_token %}
		{% for field in form %}
			<div class="control-group">
		    	<label class="control-label">{{ field.label_tag }}</label>
		    	<div class="controls">
		    		{% if field.name == "recipient" %}
		    			<div class="parent-fix">
			      			{{ field }}
			      			<div class="match-box span3" style="display:none;">
								<ul class="match-ul"></ul>
							</div>
						</div>
		      		{% else %}
		      			{{ field }}
		      		{% endif %}
		    	</div>
		    	<label>{% for error in field.errors %}{{ error|escape }}{% endfor %}</label>
		  	</div>
	  	{% endfor %}
	    <div class="control-group">
	    	<div class="controls">
	      		<input type="submit" value="发送" class="super normal button">
	    	</div>
	  	</div>
	  	<div class="control-group">
	    	<label class="control-label"></label>
	    	<div class="controls">
			{% if messages %}
   				{% for message in messages %}
   				<span class="{{ message.tags }}">{{ message }}</span>
   				{% endfor %}
			{% endif %}
	    	</div>
	  	</div>
	</form>
</div>
<br/><br/><br/>  
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	$("body").click(function(){
		$(".match-box").hide();
	});
	$("#id_recipient").bind("keyup",function(){
		$(".match-box").hide();
		var kw = $("#id_recipient").val();
		q = $.trim(kw);
		if(q=='')
			return;
		var query={};
		query["q"]=q;
		$.ajax({
			url: "/ajax_user_match",
			type: "GET",
			data: query,
			dataType: "json",
			success: function(result){
				
				var length = result.match.length;
				if(length == 0)
					return;
				if($(".match-li").length)
					$(".match-ul").html("");
				for (i=0;i<length;i++){
					$(".match-ul").append("<li class='match-li'><img src='/media/avatar/"+result.match[i].avatar+"'/>"+result.match[i].name+"</li>");
				}
				$(".match-box").show();
				$(".match-li").bind("click",function(){
					$("#id_recipient").val($(this).text());
				});
			} 
		});
	});
});
</script>
{% endblock %}