{% extends 'base.html' %}
{% load template_tags %}

{% block title %}
{{node.name}} - Snowflake
{% endblock %}

{% block head %}
{{ form.media }}
{% endblock %}

{% block main %}
<div class="panel panel-default">
  	<div class="panel-heading">
		<ol class="breadcrumb">
	  		<li><a href="/">首页</a></li>
	  		<li class="active"><a href="/node/{{node.slug}}">{{node.name}}</a></li>
		</ol>
		<a href="/node/{{node.slug}}/new" class="btn btn-sm btn-success pull-right">新话题</a>
	</div>
  	<div class="panel-body">
	{% if topics %}
		{% for item in topics %}
		<div class="cell item">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
		        <tbody>
		       	<tr>
		            <td width="40" valign="top" align="center"><a href="/user/{{item.author.name}}"><img src="{% gravatar_url item.author.username 40 %}" class="img-rounded img-responsive" border="0" alt="{{ item.author.name}}"></a></td>
		            <td width="12"></td>
		            <td width="auto" valign="middle"><span class="item_title"><a href="/topic/{{item.id}}">{{ item.title }}</a></span>
		            <div class="sep5"></div>
		            <span class="small text-muted"><a class="node" href="/node/{{ item.node.slug }}">{{ item.node }}</a> &nbsp;•&nbsp; <strong><a href="/user/{{item.author.name}}">{{ item.author.name}}</a></strong> &nbsp;•&nbsp; {% timesince_human item.updated_on %} &nbsp;•&nbsp; 最后回复来自 <strong><a href="/user/{{ item.last_reply.name }}">{{ item.last_reply.name }}</a></strong></span>
		            </td>
		            <td width="50" align="right" valign="middle">
		                <a href="/topic/{{item.id}}" class="count">{{ item.num_replies }}</a>
		            </td>
		        </tr>
		    	</tbody>
		    </table>
	    </div>
		{% endfor %}
		<table width="100%" class="pager text-muted">
			<tr>
				<td width="20%" align="left">{% if topics.has_previous %}<li class="previous"><a href="?page={{ topics.previous_page_number }}">上一页</a></li>{% endif %}</td>
				<td width="60%" align="center"><span class="muted">第{{ topics.number }}页，共{{ topics.paginator.num_pages }}页</span></td>
				<td width="20%" align="right">{% if topics.has_next %}<li class="next"><a href="?page={{ topics.next_page_number }}">下一页</a></li>{% endif %}</td>
			</tr>
		</table>
	{% else %}
		<div class="item text-center text-muted" style="padding:15px 0;">当前节点没有话题</div>
	{% endif %}
	</div>
</div>

<div class="panel panel-default">
  	<div class="panel-body">
  		<div style="padding:15px 0px;font-size:15px;">
		{% if user.is_authenticated %}
			<form action="/node/{{node.slug}}/new" method="post" class="form-horizontal" role="form"> {% csrf_token %}
				{% for field in form %}
				<div class=form-group>
			    	<div class="col-xs-12">
			      		{{ field }}
			    	</div>
			  	</div>
		     	{% endfor %}
				</table> 
			    <div class="form-group">
			    	<div class="col-xs-12" style="float:right;">
			      		<input type="submit" value="创建新话题" class="btn btn-sm btn-success">
			    	</div>
			  	</div>
			</form>
		{% else %}
		您需要 <a style="height: 20px;line-height:20px;" href="/accounts/login">登录</a> 来发表新话题。没有账号，马上 <a style="height: 20px;line-height:20px;" href="/accounts/register">注册</a> 一个。
		{% endif %}
		</div>
  	</div>
</div>
{% endblock %}	

{% block side %}
<div class="panel panel-default">
  	<div class="panel-heading"><strong>{{node.name}}</strong></div>
  	<div class="panel-body">
		{% if description %}
			<p style="font-size: 14px;">{% autoescape off %}{{description|markdown2html}}{% endautoescape %}</p>
			{% if user.is_authenticated %}
			<p><i class="fa fa-pencil-square-o text-muted"></i> <a href="/node/{{node.slug}}/edit" class="text-muted">更改描述</a></p>
			{% endif %}
		{% else %}
			{% if user.is_authenticated %}
			<p class="text-center text-muted"><i class="fa fa-pencil-square-o"></i> <a href="/node/{{node.slug}}/edit" class="text-muted">添加描述</a></p>
			{% else %}
			<p class="text-center text-muted">暂无节点描述</p>
			{% endif %}
		{% endif %}
		{% if node.num_topics %}<p class="text-muted" style="margin-top: 20px;">{{node.num_topics}}个话题</p>{% endif %}
  	</div>
</div>
<div class="panel panel-default">
  	<div class="panel-heading">相关节点</div>
  	<div class="panel-body">
  		<div class="cell">
			{% for item in relative_nodes %}
		        <a href="/node/{{item.slug}}" class="label label-default" style="display:inline-block;margin:4px 10px 4px 0;">{{item.name}}</a>
		    {% endfor %}
		</div>  	
	</div>
</div>
{% endblock %}