{% extends 'base.html' %}

{% block title %}
修改密码 - Pythonic
{% endblock %}

{% block main %}
<h2>修改密码</h2>
<hr class="dash">
<h4>设置新密码<span class="pull-right"><i class="icon-cog"></i> <a href="/accounts/settings" style="color:#aaa;">返回我的账号</a></span></h4>
<div class="box register-form">
	<form action="/accounts/login" method="post" class="form-horizontal">{% csrf_token %}
		<div class="control-group">
	    	<label class="control-label"></label>
	    	<div class="controls">
			{% if messages %}
   				{% for message in messages %}
   				<span class="{{ message.tags }}">{{ message }}</span>
   				{% endfor %}
			{% endif %}
	    	</div>
	  	</div>
		{% for field in form %}
		<div class="control-group">
	    	<label class="control-label">{{ field.label_tag }}</label>
	    	<div class="controls">
				{{ field }}
	      		<span class="error">{% for error in field.errors %}{{ error|escape }}{% endfor %}</span>
	    	</div>
	  	</div>
	  	{% endfor %}
	    <div class="control-group">
	    	<div class="controls">
	      		<input type="submit" value="确认修改" class="btn btn-success">
	    	</div>
	  	</div>
	</form>
</div>
<br/><br/><br/>
{% endblock %}