{% extends 'base.html' %}

{% block title %}
{{people.get_profile.name}} - Pythonic
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/github.min.css"/>
<script type="text/javascript" src="/static/js/jquery.github.min.js"></script>
{% endblock %}

{% block main %}
<h3>{{people.get_profile.name}}{% if people.get_profile.signature %}<span style="color:#777;font-weight:normal;"> ，{{people.get_profile.signature}}</span>{% endif %}
{% if people.get_profile.weibo %}
	<a href="http://weibo.com/{{people.get_profile.weibo}}" target="_blank" class="pull-right"><img src="/static/img/weibo.png" width="16" height="16"/></a>
{% endif %}
<input type="hidden" id="github" value="{{people.get_profile.github}}"/>
</h3>
<div class="sep20"></div>
<div class="row-fluid">
	<div class="span2">
		<img src="/media/avatar/{{people.get_profile.photo}}" alt="{{people.get_profile.name}}的头像" class="img-polaroid" width="100" height="100">
	</div>
	<div class="span10" style="padding-left:15px;">
		<table width="100%">
			<tbody>
				<tr style="height:24px;line-height:24px;color:#555;font-size:13px;">
					<td>
						<i class="icon-map-marker"></i> {{people.get_profile.province}}&nbsp;{{people.get_profile.city}}
						{% if people.id == user.id %}<span class="pull-right"><i class="icon-cog"></i> <a href="/accounts/settings" style="color:#aaa;">修改我的资料</a></span>{% endif %}
					</td>				
				</tr>
				{% if people.get_profile.website %}
				<tr style="height:24px;line-height:24px;font-size:13px;">
					<td>
						<i class="icon-pencil"></i> <a href="{{people.get_profile.website|adjust_link}}" target="_blank">{{people.get_profile.website|adjust_link}}</a>
					</td>
				</tr>
				{% endif %}
				<tr style="display:block;padding-top:8px;margin-top:5px;height:40px;line-height:25px;border-top: 1px solid #fafafa;">
					<td>
						<div class="row-fluid">
							<div class="span12" style="color:#555;padding-left:17px;">
								{% if people.get_profile.introduction %}
									{{ people.get_profile.introduction }}
								{% else %}
									<p style="color:#ddd;font-size:13px;">还没有个人简介</p>
								{% endif %}
							</div>
						</div>
					</td>
				</tr>
				<tr style="height:25px;line-height:25px;">
					<td>
						<p class="pull-right" style="color:#ccc;" title="加入于{{people.date_joined|date:'Y年m月d日 H:i'}}">第<b>{{people.id}}</b>位居民</p>
					</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>
<div class="clearfix"></div>
<ul class="navbar-profile">
	<li class="active"><a href="/people/{{people.get_profile.slug}}">话题</a></li>
	<li><a href="/people/{{people.get_profile.slug}}/reply">回复</a></li>
	<li><a href="/people/{{people.get_profile.slug}}/thank">收到的赞同</a></li>
	<li><a href="/people/{{people.get_profile.slug}}/like">喜欢的话题</a></li>
</ul>
<div class="box" style="display:block;margin-top:20px;">
<h2 style="padding-left:4px;">{{people.get_profile.name}}创建的话题</h2>
<div class="sep3"></div>
{% if topic_list %}
	<ul style="list-style:none; font-size: 14px; margin:10px 0 0 5px;">
	{% for item in topic_list %}
		<li style="display:block;word-wrap: break-word;word-break: break-all;border-bottom: 1px dashed #eee;padding: 5px 0px;margin-bottom:2px;">
			<a href="/topic/{{item.id}}">{{item.title}}</a>
			<font class="muted" style="padding-left:20px;font-size:12px;">{% if item.num_replies %}{{ item.num_replies }}回复{% endif %}</font>
			<span class="muted pull-right" style="font-size:12px;">{{item.created_on|timesince_human}}</span>
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p class="text-center well border-dash">没有创建过话题。</p>
{% endif %}
</div>
<br/><br/>
{% endblock %}

{% block side %}
<div id="github-widget">
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
    	var github_value = $('#github').val();
    	if(github_value=='') return;
        $("#github-widget").github({
        	user: github_value,
            show_extended_info: false,
            show_follows: false,
            width: "272px",
            show_repos: 5,
            oldest_first: false
        });
    });
</script>
{% endblock %}