{% extends 'base.html' %}

{% block title %}
Pythonic 居民
{% endblock %}

{% block main %}
<a href="/">首页</a> / <span style="font-size: 13px;color:#777;">居民</span>
<hr class="dash2"/>
{% if people_list %}
<ul style="list-style:none;">
	{% for people in people_list %}
	<li style="float:left;margin-right:20px;margin-bottom: 20px;width:124px;height:48px;border:1px solid #eee; padding:0px 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
		<a style="float:left;padding-top:3px;" href="/people/{{people.get_profile.slug}}"><img src="/media/avatar/{{ people.get_profile.avatar }}" height="40" width="40" border="0" alt="{{ people.get_profile.name}}"></a>			
		<div style="float:left;padding-left:4px;">
			<h3 style="margin-top:0px;padding-top:0;font-weight:bold;font-size: 13px;"><a href="/people/{{people.get_profile.slug}}">{{ people.get_profile.name}}</a></h3>
			<div style="font-size:90%;padding-left:5px;color:#aaa;text-overflow: ellipsis;">
				<div>{{people.get_profile.signature}}</div>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
{% else %}
<div class="well text-center border-dash">还没有居民。</div>
{% endif %}
{% if people_list.paginator.num_pages > 1 %}
<table width="93%" class="pager">
	<tr>
		<td width="20%" align="left">{% if people_list.has_previous %}<li class="previous"><a href="?page={{ people_list.previous_page_number }}">上一页</a></li>{% endif %}</td>
		<td width="60%" align="center"><span class="muted">第{{ people_list.number }}页，共{{ people_list.paginator.num_pages }}页</span></td>
		<td width="20%" align="right">{% if people_list.has_next %}<li class="next"><a href="?page={{ people_list.next_page_number }}">下一页</a></li>{% endif %}</td>
	</tr>
</table>
{% endif %}
{% endblock %}

{% block side %}
{% endblock %}