{% extends 'base.html' %}

{% block title %}
{{people.get_profile.name}}的主页
{% endblock %}

{% block main %}
<h1 style="padding-bottom:10px;">{{people.get_profile.name}}<span class="pull-right">{% if people.id == user.id %}<a href="/accounts/settings" class="btn btn-info btn-xs" style="height: 20px;line-height:20px;"><i class="icon-cog icon-white"></i> 设置</a>{% else %}<a href="/message/{{people.get_profile.slug}}" class="btn btn-success btn-xs" style="height: 20px;line-height:20px;"><i class="icon-envelope icon-white"></i> 私信{% if num_private_message %}{{ num_private_message }}{% endif %}</a>{% endif %}</span></h1>
{% if people.get_profile.signature %}<span style="font-size:14px;color:#777;height:30px;line-height:30px;">({{people.get_profile.signature}})</span>{% endif %}
<div class="row-fluid">
	<div class="span2">
		<img src="/media/avatar/{{people.get_profile.photo}}" alt="{{people.get_profile.name}}的头像" class="img-polaroid">
	</div>
	<div class="span10" style="padding-left:20px;">
		<table width="100%">
			<tbody>
				<tr style="height:25px;line-height:25px;"><td><font style="color:#555;font-size:14px;">{{people.get_profile.province}}&nbsp;{{people.get_profile.city}}&nbsp;&nbsp;&nbsp;</font></td></tr>
				{% if people.get_profile.website %}
				<tr style="height:25px;line-height:25px;">
					<td>
						<a href="http://{{people.get_profile.website}}" target="blank" style="font-size:14px;">{{people.get_profile.website}}</a>
					</td>
				</tr>
				{% endif %}
				{% if people.get_profile.weibo %}
				<tr style="height:25px;line-height:25px;">
					<td>
						<img src="/static/img/weibo.png" width="16" height="16"/> <a href="http://{{people.get_profile.weibo}}" target="blank">{{people.get_profile.weibo}}</a>
					</td>
				</tr>
				{% endif %}
				{% if people.get_profile.github %}
				<tr style="height:25px;line-height:25px;">
					<td>
						<img src="/static/img/github.png" width="16" height="16"/> <a href="http://{{people.get_profile.github}}" target="blank">{{people.get_profile.github}}</a>
					</td>
				</tr>
				{% endif %}
				<tr style="height:40px;line-height:25px;padding:5px 10px;">
					<td>
						<div class="row-fluid">
							<div class="span12">
								{% if people.get_profile.introduction %}
									{{ people.get_profile.introduction }}
								{% else %}
									<p style="color:#ccc;font-size:13px;">还没有个人简介</p>
								{% endif %}
							</div>
						</div>
					</td>
				</tr>
				<tr style="height:25px;line-height:25px;">
					<td>
						<p class="pull-right" style="color:#ccc;">第<b>{{people.id}}</b>位居民，{{people.date_joined|date:"Y年m月d日 H:i"}}加入</p>
					</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>
<div class="clearfix"></div>
<ul class="navbar-profile">
	<li><a href="/people/{{people.get_profile.slug}}">话题</a></li>
	<li class="active"><a href="/people/{{people.get_profile.slug}}/reply">回复</a></li>
	<li><a href="/people/{{people.get_profile.slug}}/thank">收到的感谢</a></li>
	<li><a href="/people/{{people.get_profile.slug}}/like">喜欢的话题</a></li>
</ul>
<div class="box" style="display:block;margin-top:20px;">
<h2>{{people.get_profile.name}}的回复</h2>
<div class="sep3"></div>
{% if reply_list %}
<ul style="list-style:none; font-size: 14px; margin:10px 0 0 5px;">
	{% for item in reply_list %}
		<li style="display:block;word-wrap: break-word;word-break: break-all;border-bottom: 1px dashed #eee;margin-bottom:10px;"><a href="/topic/{{item.id}}">{{item.topic.title}}</a><span class="muted pull-right" style="font-size:12px;">{{item.created_on|time_since}}</span>
			<div class="reply-content" style="font-size:13px;">
				{% if item.has_parent %}<a href="/people/{{item.parent.author.get_profile.slug}}">@{{item.parent.author.get_profile.name}}</a>{% endif %}
				{% autoescape off %}{{item.content|markdown2html}}{% endautoescape %}
           	</div>	
		</li>
	{% endfor %}
</ul>
{% else %}
<p class="text-center well border-dash">没有发表过回复。</p>
{% endif %}
</div>
<br/><br/>
{% endblock %}

{% block side %}
{% endblock %}