{% extends 'base.html' %}
{% load template_tags %}

{% block title %}
Pythonic社区居民
{% endblock %}

{% block main %}
<br/>
<h1>Pythonic社区居民</h1>
<ul style="list-style:none;">
	{% for people in people_list %}
	<li>
		<a href="/people/{{people.get_profile.slug}}"><img src="/media/avatar/{{ people.get_profile.avatar }}" class="avatar" border="0" alt="{{ people.get_profile.name}}"></a>			
		<h3><a href="/people/{{people.get_profile.slug}}">{{ people.get_profile.name}}</a></h3>
		<div style="font-size:90%">
			<div>{{user.get_profile.signature}}</div>
		</div>
	</li>
	{% endfor %}
</ul>
{% if reply_list.paginator.num_pages > 1 %}
<table width="100%" class="pager">
	<tr>
		<td width="20%" align="left">{% if topics.has_previous %}<li class="previous"><a href="?page={{ topics.previous_page_number }}">上一页</a></li>{% endif %}</td>
		<td width="60%" align="center"><span class="muted">第{{ topics.number }}页，共{{ topics.paginator.num_pages }}页</span></td>
		<td width="20%" align="right">{% if topics.has_next %}<li class="next"><a href="?page={{ topics.next_page_number }}">下一页</a></li>{% endif %}</td>
	</tr>
</table>
{% endif %}
{% endblock %}

{% block side %}
{% endblock %}