{% extends 'base.html' %}
{% load template_tags %}

{% block title %}
{{people.get_profile.name}}的主页
{% endblock %}

{% block main %}
<h1>{{people.get_profile.name}}<span class="pull-right">{% if people.id == user.id %}<a href="/accounts/settings" class="btn btn-info btn-xs" style="height: 20px;line-height:20px;"><i class="icon-cog icon-white"></i> 个人资料设置</a>{% else %}<a href="/message/{{people.get_profile.slug}}" class="btn btn-info btn-xs" style="height: 20px;line-height:20px;"><i class="icon-envelope icon-white"></i> 私信{% if num_private_message %}{{ num_private_message }}{% endif %}</a>{% endif %}</span></h1>
{% if people.get_profile.signature %}
<p style="font-size:14px;color: #555;">{{people.get_profile.signature}}<br/></p>
{% endif %}
<div class="row-fluid">
	<div class="span2">
		<img src="/media/avatar/{{people.get_profile.photo}}" alt="{{people.get_profile.name}}的头像" class="img-polaroid">
	</div>
	<div class="span10" style="padding-left:20px;">
		<table width="100%">
			<tbody>
				<tr style="height:25px;line-height:25px;"><td><font style="color:#555;font-size:14px;">{{people.get_profile.province}}&nbsp;&nbsp;男</font></td></tr>
				{% if people.get_profile.website %}
				<tr style="height:25px;line-height:25px;">
					<td>
						<a href="http://{{people.get_profile.website}}" target="blank" style="font-size:14px;">{{people.get_profile.website}}</a>
					</td>
				</tr>
				{% endif %}
				{% if people.get_profile.weibo or people.get_profile.douban or people.get_profile.github or people.get_profile.twitter %}
				<tr style="height:25px;line-height:25px;">
					<td>
						{% if people.get_profile.weibo %}<a href="http://{{people.get_profile.weibo}}" target="blank"><img src="/static/img/weibo.png" width="16" height="16"/></a>{% endif %}
						{% if people.get_profile.github %}<a href="http://{{people.get_profile.github}}" target="blank"><img src="/static/img/github.png" width="16" height="16"/></a>{% endif %}
					</td>
				</tr>
				{% endif %}
				<tr style="height:40px;line-height:25px;padding:5px 10px;">
					<td>
						<div class="row-fluid">
							<div class="span12">
								{% if people.get_profile.introduction %}
									{{ people.get_profile.introduction }}
								{% else %}
									<p style="color:#555;font-size:14px;">还没有个人简介</p>
								{% endif %}
							</div>
						</div>
					</td>
				</tr>
				<tr style="height:25px;line-height:25px;">
					<td>
						<p class="pull-right" style="color:#ccc;">第<b>{{people.id}}</b>位居民，{{people.date_joined|date:"Y年m月d日 H:i"}}加入</p>
					</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>


<div class="clearfix"></div>
<div class="box" style="display:block;margin-top:20px;">
<h2>创建的话题</h2>
{% if topic_list %}
	<p>
		<ul style="list-style:none; font-size: 14px; margin:10px 0 0 5px;">
		{% for item in topic_list %}
			<li style="line-height:25px; height:25px;margin-bottom:10px;"><a href="/topic/{{item.id}}">{{item.title}}</a><font class="muted" style="padding-left:20px;font-size:12px;">{% if item.num_replies %}{{ item.num_replies }}回复{% endif %}</font><span class="muted pull-right" style="font-size:12px;">{{item.created_on|time_since}}</span> </li>
		{% endfor %}
		</ul>
	</p>
{% else %}
	<p class="text-center well border-dash">没有创建过话题。</p>
{% endif %}
</div>
<br/><br/>
<div>
<h2>发表的回复</h2>
{% if reply_list %}
<ul style="list-style:none; font-size: 14px; margin:10px 0 0 5px;">
	{% for item in reply_list %}
		<li style="display:block;word-wrap: break-word;word-break: break-all;border-bottom: 1px dashed #eee;margin-bottom:10px;"><a href="/topic/{{item.id}}">{{item.topic.title}}</a><span class="muted pull-right" style="font-size:12px;">{{item.created_on|time_since}}</span>
				<div class="reply-content">
					{% if item.has_parent %}<a href="/people/{{item.parent.author.get_profile.slug}}">@{{item.parent.author.get_profile.name}}</a>{% endif %}
					{% autoescape off %}{{item.content|markdown2html}}{% endautoescape %}
            	</div>	
		</li>
	{% endfor %}
</ul>
{% else %}
<p class="text-center well border-dash">没有发表过回复。</p>
{% endif %}
</div>
<br/><br/>
{% endblock %}

{% block side %}
{% endblock %}