{% extends 'base.html' %}

{% block title %}
注册 - Snowflake
{% endblock %}

{% block main %}
<h3>注册新用户</h3><br/>
<p>已有账户，请直接<a href="/accounts/login">登录</a></p>
<form action="/accounts/register" method="post" class="form-horizontal" role="form">{% csrf_token %}
	<div class="form-group">
		<label class="col-sm-2 control-label"></label>
		<div class="col-sm-5">
			{% if messages %}
			<div class="alert alert-danger" style="margin-bottom: 0px;">
				{% for message in messages %}{{ message }}{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
	{% for field in form %}
	<div class="form-group">
		<label for="{{field.id}}" class="col-sm-2 control-label">{{ field.label_tag }}</label>
		<div class="col-sm-5">
			{{ field }}
			{% if field.help_text %}<span class="help-block">{{field.help_text}}</span>{% endif %}
		</div>
		{% if field.errors %}
		<label>
			<ul class="list-inline">
				{% for item in field.errors %}	
						<li><p class="form-control-static text-danger">{{item}}</p></li>
						{% endfor %}
			</ul>
		</label>
		{% endif %}
  	</div>
  	{% endfor %}
  	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
      		<button type="submit" class="btn btn-success">注册</button>
    	</div>
  	</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/city_selector.js"></script>
<script type="text/javascript">
	$("form").submit(function(){  
	  $(":submit",this).attr("disabled","disabled");  
	}); 
	window.onload = function(){
	    init();
	}
</script>
{% endblock %}