{% extends 'base.html' %}

{% block head %}
{{ form.media }}
{% endblock %}

{% block main %}
<div class="topic-body">
	<div class="box">
	    <div>
		    <ol class="breadcrumb">
				<li><a href="/">首页</a></li>
				<li>/</li>
				<li class="active"><a href="/node/{{topic.node.slug}}" class="muted">{{topic.node.name}}</a></li>
			</ol>
			<a href="/people/{{topic.author.get_profile.slug}}"  class="pull-right"><img src="/media/avatar/{{ topic.author.get_profile.avatar }}" alt="{{topic.author.get_profile.name}}" border="0" align="default"/></a>
		</div>
	    <h1>{{topic.title}}</h1>
	    <div class="t-meta">
	    	<span class="t-author"><a href="/people/{{topic.author.get_profile.slug}}" class="muted">{{topic.author.get_profile.name}}</a></span> 创建于 <span class="t-time">{{topic.created_on|time_since}}</span>{% if topic.num_views %} · <span class="t-view">{{topic.num_views}}次点击</span>{% endif %}
	    </div>
		<div class="t-content">{% autoescape off %}{{topic.content|markdown2html}}{% endautoescape %}</div>
	</div>
</div>
<a href="/topic/{{topic.id}}">全部回复</a> / <font class="muted">最多赞同</font>
<h4 class="pull-right muted">{{topic.num_replies}}个回复</h4>
<hr class="dash"/>
{% if reply_list %}
<ul id="reply-list" class="reply-list">
	{% for item in reply_list %}
	<li class="reply">
		<div class="reply-body">
			<div class="pull-left user-avatar">
				<a href="/people/{{item.author.get_profile.slug}}">
					<img alt="{{item.author.get_profile.name}}" src="/media/avatar/{{item.author.get_profile.avatar}}" width="36" height="36"/>
				</a>
			</div>
			<div class="reply-meta" id="{{item.id}}">
				<div class="reply-meta-data">
					<span class="author"><a href="/people/{{item.author.get_profile.slug}}">{{item.author.get_profile.name}}</a>&nbsp;&nbsp;{{item.author.get_profile.signature}}</span>
					{% if item.thanks.all %}<span class="thank-list">{{item.thanks|thanks_list|safe}}</span>{% endif %}
				</div>	
				<div class="reply-content">
					{% if item.has_parent %}<p><a href="/people/{{item.parent.author.get_profile.slug}}">@{{item.parent.author.get_profile.name}}</a></p>{% endif %}
					{% autoescape off %}{{item.content|markdown2html}}{% endautoescape %}
            	</div>		
			</div>
			<span class="order pull-right">{% if item.thanks.all %}<i class="icon-heart"></i>{{ item.thanks.all|length }}{% endif %}</span>
			<div class="reply-menu">
				<span title="{{item.created_on}}" class="time pull-left">{{item.created_on|time_since}}</span>
   			</div>					
		</div>
	</li>
	{% endfor %}
</ul>
{% else %}
<p class="text-center well border-dash">当前话题没有回复收到赞同。</p>
{% endif %}
{% if reply_list.paginator.num_pages > 1 %}
<table width="100%" class="pager">
	<tr>
		<td width="20%" align="left">{% if reply_list.has_previous %}<li class="previous"><a href="?page={{ reply_list.previous_page_number }}">上一页</a></li>{% endif %}</td>
		<td width="60%" align="center"><span class="muted">第{{ reply_list.number }}页，共{{ reply_list.paginator.num_pages }}页</span></td>
		<td width="20%" align="right">{% if reply_list.has_next %}<li class="next"><a href="?page={{ reply_list.next_page_number }}">下一页</a></li>{% endif %}</td>
	</tr>
</table>
{% endif %}
{% endblock %}

{% block side %}
<div class="box">
	<div class="well">
		<h2 style="color:#777;"><b>{{node.name}}</b></h2>
		{% if description %}
			<p style="font-size: 14px;">{{description}}</p>
			{% if user.is_authenticated %}
			<p><a href="/node/{{node.slug}}/edit" style="color: #cccccc;">更改描述</a></p>
			{% endif %}
		{% else %}
			{% if user.is_authenticated %}
			<p><center><i class="icon-plus"></i> <a href="/node/{{node.slug}}/edit">添加描述</a></center></p>
			{% else %}
			<p>尚没有节点描述。</p>
			{% endif %}
		{% endif %}
		<p class="muted" style="margin-top: 20px;color: #bbb;">共有<b>{{node.num_topics}}</b>个话题。</p>
	</div>
</div>
{% endblock %}

{% block js %}
<!-- <script> 
(function(){ 
	
	var o = $(".reference");
	for(i=0;i<o.length;i++){
		var s = o[i].innerHTML;
		//alert(s);
		var p = document.createElement("span"); 
		var n = document.createElement("a"); 
		
		p.innerHTML = s.substring(0,10); 
		
		n.innerHTML = s.length > 10 ? "展开" : ""; 
		n.href = "###"; 
		alert(p.innerHTML);

		alert('aaaa');
		o[i].innerHTML = ""; 
		o[i].appendChild(p); 
		o[i].appendChild(n); 
		//alert('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa');	 
		o[i].onclick = function(){ 
			if (n.innerHTML == "展开"){ 
				n.innerHTML = "收起"; 
				p.innerHTML = s; 
			}else{ 
			n.innerHTML = "展开"; 
			p.innerHTML = s.substring(0,10); 
		}
	}
}

})();
</script> -->
<script type="text/javascript"> 
function reply(id) {
	content = $("#"+id).html();
	$("#reply-fill").html("<div id='reply-close' class='alert bg-color-white'><button type='button' class='close' data-dismiss='alert'>×</button>"+content+"</div>");
	$("#parent_id").val(id);
	$('#reply-close').bind('closed', function () {
		$("#parent_id").val('');
	});
}
function thank(reply_id,user_id) {
	var query={};
	query["reply_id"] = reply_id;
	query["user_id"] = user_id;
	$.ajax({
		url: "/ajax_thanks",
		type: "GET",
		data: query,
		dataType: "json",
		success: function(result){
			var res = result['result'];
			var thanks_id = result['thanks_id'];
			var check = result['check'];
			if(res>0){
				$("#thanks_"+thanks_id+"_count").html('<i class="icon-heart"></i>'+res);
			}
			else{
				$("#thanks_"+thanks_id+"_count").html('');
			}
			if(check==true){
				$("#thanks_"+thanks_id+"_check").html('取消感谢');
			}
			else{
				$("#thanks_"+thanks_id+"_check").html('感谢');
			}
		}
	});	
}
$(document).ready(function() {
	$('textarea.resizable:not(.processed)').TextAreaResizer();
});
</script>
{% endblock %}