{% extends 'base.html' %}
{% load template_tags %}
{% load markup %}

{% block head %}
{{ form.media }}
{% endblock %}

{% block main %}
<div class="topic-body">
	<div class="box">
	    <div>
		    <ol class="breadcrumb">
				<li><a href="/">首页</a></li>
				<li>/</li>
				<li class="active"><a href="/node/{{topic.node.slug}}">{{topic.node.name}}</a></li>
			</ol>
			<a href="/people/{{topic.author.get_profile.slug}}"  class="pull-right"><img src="/media/avatar/{{ topic.author.get_profile.avatar }}" alt="{{topic.author.get_profile.name}}" border="0" align="default"/></a>
		</div>
	    <h1>{{topic.title}}</h1>
	    <div class="t-meta">
	    	<span class="t-author"><a href="/people/{{topic.author.get_profile.slug}}" class="muted">{{topic.author.get_profile.name}}</a></span> 创建于 <span class="t-time">{{topic.created_on|time_since}}</span>{% if topic.num_views %} · <span class="t-view">{{topic.num_views}}次点击</span>{% endif %}
	    </div>
		<div class="t-content">{% autoescape off %}{{topic.content|markdown2html}}{% endautoescape %}</div>
	</div>
</div>
{% if topic.num_replies %}
<p>
	<h4>{{topic.num_replies}}个回复</h4>
</p>
{% else %}
<p class="text-center well">当前话题还没有回复。</p>
{% endif %}
<ul id="reply-list" class="reply-list">
	{% for item in reply_list %}
	<li class="reply">
		<div class="reply-body">
			<div class="pull-left user-avatar">
				<a href="/people/{{item.author.get_profile.slug}}">
					<img alt="{{item.author.get_profile.name}}" src="/media/avatar/{{item.author.get_profile.avatar}}" width="36" height="36"/>
				</a>
			</div>
			<div class="reply-meta" id="{{item.id}}">
				<div class="reply-meta-data">
					<span class="author"><a href="/people/{{item.author.get_profile.slug}}">{{item.author.get_profile.name}}</a>&nbsp;&nbsp;{{item.author.get_profile.signature}}</span>
					<span title="{{item.created_on}}" class="time">{{item.created_on|time_since}}</span>
				</div>	
				<div class="reply-content">
					{% if item.has_parent %}<a href="/people/{{item.parent.author.get_profile.slug}}">@{{item.parent.author.get_profile.name}}</a>{% endif %}
					{% autoescape off %}{{item.content|markdown2html}}{% endautoescape %}
            	</div>		
			</div>
			<span class="order pull-right"><a href="#{{forloop.counter}}">#{{forloop.counter}}</a></span>
			<div class="reply-reply">
				{% if user.is_authenticated %}
					<span><i class="icon-comment"></i> <a href="#reply" onclick="reply('{{item.id}}')">回复</a></span>
	               	<!-- <span><i class="icon-heart"></i> <a href="javascript:;" onclick="thank('{{item.id}}')">感谢</a></span> -->
               	{% endif %}
   			</div>			
		</div>
	</li>
	{% endfor %}
</ul>
{% if user.is_authenticated %}
<div class="box" style="margin-top:30px;">
	<span id="reply" class="muted">回复</span>
	<div id="reply-fill"></div>
	<form id="your-profile" action="/topic/{{topic.id}}/create" method="post" class="form-horizontal"> {% csrf_token %}
		{% for field in form %}
		<div class="control-group">
	    	<div class="controls" style="margin-left: 0;">
				{{ field }}
	    	</div>
	    	<label>{{ field.errors }}</label>
	  	</div>
     	{% endfor %}
	    <div class="control-group">
	    	<div class="controls" style="margin-left: 0;float:right;">
	      		<input type="submit" value="回复" class="btn btn-success">
	    	</div>
	  	</div>
	  	<input type="hidden" value="" name="parent_id" id="parent_id">
	</form>
</div>
{% else %}	
<p class="required">您需要<a href="/accounts/login">登录</a>来回复。没有账号，马上<a href="/accounts/register">注册</a>一个。</p>
{% endif %}
{% endblock %}

{% block side %}
{% endblock %}

{% block js %}
<!-- <script> 
(function(){ 
	
	var o = $(".reference");
	for(i=0;i<o.length;i++){
		var s = o[i].innerHTML;
		//alert(s);
		var p = document.createElement("span"); 
		var n = document.createElement("a"); 
		
		p.innerHTML = s.substring(0,10); 
		
		n.innerHTML = s.length > 10 ? "展开" : ""; 
		n.href = "###"; 
		alert(p.innerHTML);

		alert('aaaa');
		o[i].innerHTML = ""; 
		o[i].appendChild(p); 
		o[i].appendChild(n); 
		//alert('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa');	 
		o[i].onclick = function(){ 
			if (n.innerHTML == "展开"){ 
				n.innerHTML = "收起"; 
				p.innerHTML = s; 
			}else{ 
			n.innerHTML = "展开"; 
			p.innerHTML = s.substring(0,10); 
		}
	}
}

})();
</script> -->
<script type="text/javascript"> 
function reply(id) {
	content = $("#"+id).html();
	$("#reply-fill").html("<div id='reply-close' class='alert bg-color-white'><button type='button' class='close' data-dismiss='alert'>×</button>"+content+"</div>");
	$("#parent_id").val(id);
	$('#reply-close').bind('closed', function () {
		$("#parent_id").val('');
	});
}
function thank(id) {
	content = $("#"+id).html();
	$("#reply-fill").html("<div id='reply-close' class='alert bg-color-white'><button type='button' class='close' data-dismiss='alert'>×</button>"+content+"</div>");
	$("#parent_id").val(id);
	$('#reply-close').bind('closed', function () {
		$("#parent_id").val('');
	});
	var query={};
	query["reply_id"] = node_id;
	$.ajax({
		url: "/ajax_focus",
		type: "GET",
		data: query,
		dataType: "json",
		success: function(result){
			var res = result['result'];
			if(res==true){
				//$("#focus-button").removeAttr('disabled');
				//$("#focus-button").html("<i class='icon-eye-close icon-white'></i> 取消关注");
				//$("#focus-button").attr("class","btn btn-warning btn-xs");
				$("#focus-button").html("<i class='icon-ok icon-white'></i> 已关注 &nbsp;&nbsp;<a href='/cancel_focus/{{node.id}}' style='color:white;'>取消</a>");
				$("#focus-button").unbind("click");
				//html = "";
				//$("#focus_users").html("");
				//for(i=0;i<users.length;i++){
					//alert(users[i].name);
					//html = "<li><a href='/people/"+users[i].id+"/' title='"+users[i].name+"'><img src='"+users[i].avatar+"' alt='"+users[i].name+"'></a></li>";
					//$("#focus_users").append(html);
				//}
				//$("#focus_users").html(html);
			}
			else{
				$("#focus-button").removeAttr('disabled');
				alert("服务器异常");
			}
		}
	});	
}
$(document).ready(function() {
	$('textarea.resizable:not(.processed)').TextAreaResizer();
});
</script>
{% endblock %}