{% extends 'base.html' %}

{% block head %}
{{ form.media }}
{% endblock %}

{% block main %}
<ol class="breadcrumb">
	<li><a href="/">首页</a></li>
	<li>/</li>
	<li class="active">新话题</li>
</ol>
<div class="box">
	<span style="display:block;font-size:14px;margin-bottom:5px;">节点</span>
	<button class="btn btn-info">为新话题选择一个节点</button>
	<div id="node-wrap" class="box" style="display:none;">
	    <ul>
	    	{% for item in all_nodes %}
	        <li>
	            <label class="bold">{{item.parent}}</label>
	            <span class="nodes">
	            	{% for node in item.nodes %}
	                    <a href="/node/{{node.slug}}" title="{{ node.name}}">{{ node.name}}</a>
	                {% endfor %}
	            </span>
	        
	        </li>
	       	{% endfor %}
	    </ul>
	</div>
	<form action="/topic/{{topic.id}}/create" method="post" class="form-vertical" onSubmit="return beforeSubmit(this);"> {% csrf_token %}
		{% for field in form %}
		<div class="control-group">
			<label class="control-label">{{ field.label_tag }}</label>
	    	<div class="controls">
				{{ field }}
	    	</div>
	    	<label>{{ field.errors }}</label>
	  	</div>
     	{% endfor %}
	    <div class="control-group">
	    	<div class="controls" style="margin-left: 0;float:right;">
	      		<input type="submit" value="创建" class="btn btn-success">
	    	</div>
	  	</div>
	  	<input type="hidden" value="" name="node_id" id="node_id">
	</form>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
function beforeSubmit(form){
	if(form.title.value==''){
		form.title.focus();
		return false;
	}
	else if(form.content.value==''){
		form.content.focus();
		return false;		
	}
	else{
		return true;
	}
}
$(document).ready(function() {
	$('textarea.resizable:not(.processed)').TextAreaResizer();
});
</script>
<script type="text/javascript">
function words_deal(content_id,max_count) {
	var curLength=$(content_id).val().length;
	if(curLength>max_count-4) {
		var num=$(content_id).val().substr(0,max_count-3);
		$(content_id).val(num);
		$(content_id+'_wmd_preview').html('');
		if($(".count_char").length==0)
		$(content_id).before("<div class='alert alert-block count_char'><button type='button' class='close' data-dismiss='alert'>&times;</button>最多只能输入"+max_count+"个字符</div>");
	}
	else{
		$(".count_char").remove();
	}
}
</script>
{% endblock %}