{% extends 'base.html' %}
{% load template_tags %}

{% block title %}
{{topic.title}} - Snowflake
{% endblock %}

{% block head %}
{{ form.media }}
{% endblock %}

{% block main %}
<div class="panel panel-default">
  	<div class="panel-body">
  		<ol class="breadcrumb">
	  		<li><a href="/">首页</a></li>
	  		<li class="active"><a href="/node/{{node.slug}}" class="text-gray">{{node.name}}</a></li>
		</ol> 
		<h3 style="margin-top:10px;margin-bottom:0;">{{topic.title}}<a href="/user/{{topic.author.name}}"  class="pull-right"><img src="{% gravatar_url topic.author.username 48 %}" alt="{{topic.author.name}}"/></a></h3>
    	<div class="cell text-muted">by&nbsp;<a href="/user/{{topic.author.name}}" class="gray">{{topic.author.name}}</a>&nbsp;&nbsp;<strong>·</strong>&nbsp;&nbsp;{% timesince_human topic.created_on %}{% if topic.num_views %}&nbsp;&nbsp;<strong>·</strong>&nbsp;&nbsp;{{topic.num_views}} 次点击{% endif %}</div>
		<div style="margin-top:15px;font-size:14px;line-height: 180%;overflow: hidden;word-break: break-word;">{% autoescape off %}{{topic.content|markdown2html}}{% endautoescape %}</div>
  	</div>
</div>
<div class="panel panel-default">
{% if topic.num_replies %}
  	<div class="panel-heading">{{topic.num_replies}}个回复</div>
  	<div class="panel-body">
		{% for item in replys %}  	
			<div class="cell">
			    <table cellpadding="0" cellspacing="0" border="0" width="100%">
			        <tbody><tr>
			            <td width="48" valign="top" align="center"><img alt="{{item.author.name}}" src="{% gravatar_url item.author.username 48 %}" class="avatar" border="0" align="default"></td>
			            <td width="10" valign="top"></td>
			            <td width="auto" valign="top" align="left">
			            	<div class="pull-right"><div class="right-menu" id="thank_{{item.id}}_check">{% if not user in item.thank_set.all %}<a style="cursor:pointer;" onclick="thank('{{item.id}}')" class="thank"><i class="fa fa-heart"></i></a>{% else %}<a><i class="fa fa-heart text-muted"></i></a>{% endif %}</div> &nbsp; <a href="#;" onclick="reply('{{item.id}}')"><i class="fa fa-reply"></i></a> &nbsp;&nbsp; <span class="no">{{forloop.counter}}</span></div>
			                <div class="sep3"></div>
			                <a href="/user/{{item.author.name}}"><strong>{{item.author.name}}</strong></a>&nbsp; &nbsp;<span class="text-muted small">{% timesince_human item.created_on %}</span>&nbsp; &nbsp;<span id="thank_{{item.id}}_count" class="text-muted">{% if item.thank_set.all %}<i class="fa fa-heart text-muted"></i> {{item.thank_set.all|length}}{% endif %}</span> 
			                <div class="sep5"></div>
			                <div class="reply_content">{% autoescape off %}{{item.content|markdown2html}}{% endautoescape %}</div>
			            </td>
			        </tr>
			    </tbody></table>
			</div>  	
		{% endfor %}
		{% if replys.paginator.num_pages > 1%}
		<center>
			<ul class="pagination pagination-sm">
				{% if replys.has_previous %}
			  		<li><a href="/topic/{{topic.id}}?page={{replys.previous_page_number}}">&laquo;</a></li>
			  	{% else %}
			  		<li class="disabled"><a>&laquo;</a></li>
			  	{% endif %}
			  	{% for item in replys.paginator.page_range %}
			  		{% if item == replys.number %}
			  			<li class="active"><a href="#">{{item}}</a></li>
			  		{% else %}
			  			<li><a href="/topic/{{topic.id}}?page={{item}}">{{item}}</a></li>
			  		{% endif %}
			  	{% endfor %}
				{% if replys.has_next %}
			  		<li><a href="/topic/{{topic.id}}?page={{replys.next_page_number}}">&raquo;</a></li>
			  	{% else %}
			  		<li class="disabled"><a>&raquo;</a></li>
			  	{% endif %}
			</ul>
		</center>
		{% endif %}  	
  	</div>
{% else %}
  	<div class="panel-body">
  		<div class="item text-center text-muted" style="padding:10px 0;font-size:14px;">没有回复</div>
  	</div>
{% endif %}
</div>

<div class="panel panel-default">
  	<div class="panel-body">
  		<div style="padding:15px 0px;font-size:15px;">
		{% if user.is_authenticated %}
			<a name="reply"></a>
			<form action="/topic/{{topic.id}}/reply" method="post" class="form-vertical">{% csrf_token %}
				{% for field in form %}
				<div class="form-group">
					<label class="control-label text-muted small">添加一条新回复</label>
					<label class="control-label text-muted small pull-right"><i class="fa fa-long-arrow-up"></i> <a href="#" class="text-muted">回到顶部</a></label>
			    	<div>
			      		{{ field }}
			    	</div>
			  	</div>
		     	{% endfor %}
				</table> 
			    <div class="form-group">
			    	<label class="col-sm-12 control-label"></label>
			    	<div>
			      		<input type="submit" value="回复" class="btn btn-sm btn-success pull-right">
			    	</div>
			  	</div>
			  	<input type="hidden" value="" name="parent_id" id="parent_id">
			</form>
		{% else %}
		您需要 <a style="height: 20px;line-height:20px;" href="/accounts/login">登录</a> 来发表新话题。没有账号，马上 <a style="height: 20px;line-height:20px;" href="/accounts/register">注册</a> 一个。
		{% endif %}
		</div>
  	</div>
</div>
{% endblock %}

{% block side %}
<div class="panel panel-default">
  	<div class="panel-heading"><strong>{{node.name}}</strong></div>
  	<div class="panel-body">
		{% if description %}
			<p style="font-size: 14px;">{% autoescape off %}{{description|markdown2html}}{% endautoescape %}</p>
			{% if user.is_authenticated %}
			<p><i class="fa fa-pencil-square-o text-muted"></i> <a href="/node/{{node.slug}}/edit" class="text-muted">更改描述</a></p>
			{% endif %}
		{% else %}
			{% if user.is_authenticated %}
			<p class="text-center text-muted"><i class="fa fa-pencil-square-o"></i> <a href="/node/{{node.slug}}/edit" class="text-muted">添加描述</a></p>
			{% else %}
			<p class="text-center text-muted">暂无节点描述</p>
			{% endif %}
		{% endif %}
		{% if node.num_topics %}<p class="text-muted" style="margin-top: 20px;">{{node.num_topics}}个话题</p>{% endif %}
  	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
function reply(reply_id) {
	content = $("#"+reply_id).html();
	$("#reply-fill").html("<div id='reply-close' class='alert bg-color-white'><button type='button' class='close' data-dismiss='alert'>×</button>"+content+"</div>");
	$("#parent_id").val(reply_id);
	$('#reply-close').bind('closed', function () {
		$("#parent_id").val('');
	});
}
function thank(reply_id) {
	
	var query={};
	query["reply_id"] = reply_id;
	$.ajax({
		url: "/ajax_thank",
		type: "GET",
		data: query,
		dataType: "json",
		success: function(response){
			var count = response.count;
			var check = response.check;
			if(check==true){
				$("#thank_"+reply_id+"_check").html('<a><i class="fa fa-heart text-muted"></i></a>');
			}
			
			if(count>0){
				$("#thank_"+reply_id+"_count").html('<i class="fa fa-heart text-muted"></i> '+count);
			}
		}
	});	
}
</script>
{% endblock %}